.animated_item{
    margin-top:30px;
    opacity:0;
    transition: 300ms;
    transition-delay: 100ms;
}
@for $i from 0 through 100 {
    .animated_item:nth-child(#{$i + 1}) {
        z-index: 10 - $i;
    }
}


@for $i from 0 through 100 {
    .animate:nth-child(#{$i + 1}) {
        opacity:1;
        margin-top:0px;
        transition:1s all;
        transition-delay: 150ms * $i;
    }
}