.articles {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0075em;
  color: $navy;
  h1,
  h2 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-family: "Matter-SemiBold";
  }
  h3 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-family: "Matter-SemiBold";
  }
  .tags {
    display: flex;
    margin: 0 15px 0 0;
    justify-content: flex-start;
    height: fit-content;
  }
  .tag {
    background-color: $white;
    color: $deep-blue;
    padding: 4px 8px;
    border-radius: 10px;
    font-family: "Matter-SemiBold";
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 0px 5px;
    width: fit-content;
  }
  .avatar {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    img {
      border-radius: 50%;
    }
  }
  .divider {
    background-image: url("../assets/articleOne/news-dashed-line-navy60-repeatx@2x.png");
    height: 2px;
    width: 100%;
    margin: 0 auto;
  }
  .dividerL {
    display: none;
  }
}

.articlesTitle {
  height: 190px;
  .articlesBg {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .titleText {
    background-color: #bfeaf6;
    padding: 0 5%;
    position: relative;
    flex: 1 1 auto;
  }
  .curvedBg {
    flex: 0 1 auto;
  }
  .tags {
    padding-top: 70px;
  }
  h1 {
    position: absolute;
    padding-right: 5%;
    top: 140px;
  }
}

.articleContent {
  margin-top: 150px;
  padding: 0 5%;
}

.articleMain {
  .ctaTop {
    display: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.author {
  margin: 40px auto 35px;
  display: flex;
  align-items: center;
  .authorInfo p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0075em;
  }
}

.contentTop {
  margin: 50px auto 50px;
  letter-spacing: -0.0075em;
  p:first-of-type {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
}
.hangingQuotation {
  background-color: #edf9fc;
  border-radius: 12px 12px 12px 0;
  padding: 50px 10%;
  font-size: 18px;
  line-height: 28px;
  font-family: "Matter-SemiBold";
  color: $deep-blue;
  .author {
    flex-direction: column;
    align-items: flex-start;
    margin: 40px auto 0;
    .authorInfo {
      margin-top: 20px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.0075em;
      color: $navy;
      font-family: "Matter-Regular";
    }
  }
}
.contentBttm {
  margin: 70px auto;
}

.imgInbetween {
  img {
    border-radius: 8px;
  }
  p,
  a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
  }
  p {
    margin: 25px auto 70px;
  }
}
.subsection {
  margin-bottom: 80px;
  h3 {
    margin-bottom: 35px;
  }
  &:last-of-type {
    margin-bottom: 70px;
  }
}

.signup {
  margin-bottom: 100px;
  margin-top: -10px;
  h2 {
    margin-bottom: 40px;
  }
}

@include mediumDisplay {
  .articles {
    background-color: #fafaf6;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
  .articlesTitle {
    height: 860px;
    .titleText {
      background-color: #bfeaf6;
      padding: 0 5%;
      position: static;
      height: fit-content;
    }
    .tags {
      padding-top: 100px;
    }
    h1 {
      font-size: 58px;
      line-height: 62px;
      letter-spacing: -0.02em;
      width: 95%;
      margin-top: 40px;
      position: static;
    }
  }
  .articleContent {
    margin-top: -380px;
  }

  .articleMain {
    padding: 3%;
    background-color: $white;
    position: relative;
    z-index: 1;
    border-radius: 24px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
    .row {
      align-items: center;
    }
    .ctaTop {
      display: inline-block;
      padding: 0;
      background: transparent;
      margin-top: 40px;
    }
  }
  .contentTop,
  .hangingQuotation,
  .contentBttm,
  .imgInbetween,
  .subsection,
  .signup {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .contentTop {
    p:first-of-type {
      font-size: 26px;
      line-height: 36px;
    }
  }
  .hangingQuotation {
    font-size: 24px;
    line-height: 34px;
  }
  .signup h2 {
    font-size: 37px;
    line-height: 40px;
  }
}

@include largeDisplay {
  .articlesTitle {
    h1 {
      width: 80%;
    }
    .curvedBg {
      margin-top: -1px;
    }
  }
  .articleContent {
    margin-top: -430px;
    .infoContainer {
      flex-direction: column;
    }
    .author {
      flex-direction: column;
      align-items: flex-start;
      .avatar {
        margin-bottom: 20px;
      }
    }
  }
  .articles .dividerL {
    display: inline-block;
  }

  .articleMain .ctaTop {
    margin-top: 35px;
  }
  .dividerTop {
    display: none;
  }
}

//common factors between article templates
.articleBack {
  margin: 35px 0 70px;
  display: block;
  color: $deep-blue;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  font-family: "Matter-SemiBold";
  svg {
    margin-right: 20px;
  }
}

.article .imgOverSection {
  position: relative;
  top: -90px;
  margin-top: 0;
  padding-bottom: 0;
  .imgContainer {
    position: static;
  }
  .title {
    margin-top: 60px;
  }
}

.articleBttm {
  background-color: #fafaf6;
  padding: 70px 5% 70px;
  .divider {
    background-image: url("../assets/articleOne/news-dashed-line-navy60-repeatx@2x.png");
    height: 2px;
    width: 100%;
    margin: 0 auto;
  }
}

@include mediumDisplay {
  .articleBttm {
    padding: 50px 5% 190px;
    .articleCTA,
    .divider {
      display: none;
    }
    .articleBack {
      margin: 0;
    }
  }
}

.terms,
.privacyPolicy,
.covid19 {
  .dividerTop {
    display: none;
  }
  .articleContent {
    margin-top: 0;
    padding-bottom: 80px;
  }
  li h2 {
    font-family: "Matter-SemiBold";
    font-size: 18px;
    line-height: 28px;
  }
  .divider {
    margin: 50px 0;
  }
}

//Terms of use
.terms {
  .mainTop,
  .dividerTop {
    display: none;
  }
  .tags {
    opacity: 0;
  }
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  li h2 {
    margin-bottom: 40px;
  }

  li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }

  li li {
    margin: 0;
    font-family: "Matter-Regular";
  }

  li li:before {
    content: counters(item, ".") " ";
  }

  li li li {
    list-style-type: lower-alpha;
    &::before {
      content: "";
    }
  }

  .divider11 {
    display: none;
  }

  li.sectionTitle {
    &::before {
      content: "";
    }
  }
}

.privacyPolicy {
  ol {
    padding-left: 0;
  }
  .sectionTitle {
    margin-left: 5%;
  }
  .contentTop p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  li li {
    margin-left: 30px;
  }
  .divider2 {
    display: none;
  }
}

@include mediumDisplay {
  .terms,
  .privacyPolicy,
  .covid19 {
    .articleContent {
      margin-top: -580px;
    }
    .articleContent {
      padding-bottom: 100px;
    }
  }
}

.covid19 .contentTop {
  p,
  a {
    font-size: 18px;
    line-height: 24px;
  }
  p {
    white-space: pre-line;

    margin-bottom: 30px;
  }
}
