.banner {
  background-color: $navy;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  padding: 15px 0;
  .layoutContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .closeBanner {
    color: $white;
    cursor: pointer;
    padding-right: 1%;
  }
  p {
    width: 85%;
    margin: 0 auto;
  }
  .yellowText {
    white-space: nowrap;
  }
  .learnMoreArrow {
    color: $yellow;
    &:hover {
      color: #00718f;
    }
  }
}

@include mediumDisplay {
  .banner {
    p {
      width: 100%;
    }
  }
}
