.company {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0075em;
  .largerText {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
  .unitTitle {
    font-family: "Matter-SemiBold";
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
  .smallTitle {
    font-family: "Matter-SemiBold";
    font-size: 16px;
    line-height: 20px;
    color: #506185;
  }
  .largeTitle {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-family: "Matter-SemiBold";
  }
}

@include mediumDisplay {
  .largerText {
    font-size: 26px;
    line-height: 36px;
  }
}

//Landing section
.companyLanding {
  padding: 70px 5%;
  // position: relative;
  .lottieBg {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
  }
  .largerText {
    margin: 50px 0 60px;
  }
  .imgContainer {
    margin-bottom: 90px;
    img {
      border-radius: 12px;
    }
  }
  .singleColumn {
    width: 100%;
    &:first-of-type {
      margin-bottom: 70px;
    }
  }
  .unitTitle {
    margin-bottom: 30px;
  }
}

@include mediumDisplay {
  .companyLanding {
    padding-top: 100px;
    .largerText {
      margin-top: 70px;
    }
    .imgContainer {
      margin-bottom: 100px;
      img {
        border-radius: 24px;
      }
    }
  }
}

@include largeDisplay {
  .companyLanding {
    .two .singleColumn {
      width: 40%;
    }
  }
}

//hiring section
.companyHiring {
  position: relative;
  padding: 0 5% 70px;
  .iconContainer {
    margin: 90px auto 35px;
    width: 40%;
  }
  .hiringCTA {
    text-align: center;
    margin-bottom: 100px;
    p {
      margin-bottom: 35px;
    }
  }
  .hiringML {
    display: none;
  }
}

@include mediumDisplay {
  .companyHiring {
    padding-bottom: 120px;
    .hiringTop,
    .hiringBttm {
      display: none;
    }
    .hiringML {
      display: inline-block;
    }
    .hiringCTA {
      width: 56%;
      margin: 0 auto;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@include largeDisplay {
  .companyHiring {
    .hiringCTA {
      width: 30%;
      margin: -25% 10% 0 auto;
    }
  }
}

//company community
.companyCommunity {
  background-color: $beige;
  padding: 70px 5%;
  .largeTitle {
    margin-bottom: 40px;
    margin-left: 0;
  }
  .listContainer {
    margin-top: 60px;
    .smallTitle {
      color: $navy;
      margin-bottom: 30px;
    }
    ul {
      margin-left: 5%;
      li {
        color: $navy;
      }
      a {
        font-size: 16px;
        line-height: 20px;
        white-space: normal;
      }
    }
  }
  .imgContainer {
    margin-top: 70px;
  }
}

@include mediumDisplay {
  .companyCommunity {
    padding: 100px 5% 120px;
    .largeTitle {
      font-size: 66px;
      line-height: 70px;
    }
    .text p,
    a.link {
      font-size: 20px;
      line-height: 30px;
    }
    .text {
      padding-right: 4%;
    }
    .listContainer {
      font-size: 16px;
      line-height: 20px;
      li {
        margin-bottom: 6px;
      }
      p.smallTitle {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .imgContainer {
      margin-top: 0;
    }
  }
}

@include largeDisplay {
  .companyCommunity {
    padding-top: 120px;
    .row {
      padding-left: 5%;
      margin-right: -5%;
    }
    .largeTitle {
      margin-bottom: 50px;
    }
    .imgContainer {
      margin-top: -35%;
    }
    .listContainer {
      ul {
        margin-left: 0;
      }
    }
  }
}

//carousel section
.companyCarousels {
  background-color: $deep-blue;
  padding: 70px 8% 90px;
  text-align: center;
  .smallTitle {
    color: $yellow;
    margin-bottom: 60px;
  }
  .carousel-caption {
    position: static;
    padding: 0;
    .comment {
      height: 300px;
    }
    .name {
      margin: 70px 0 50px;
      color: #b2e6f4;
    }
  }
  .carousel-indicators {
    bottom: -50px;
    li {
      width: 10px;
      height: 10px;
      background-image: url("/assets/company/company-quotes-carousel-default@2x.png");
      background-size: contain;
      background-color: transparent;
      opacity: 1;
    }
    li.active {
      background-image: url("/assets/company/company-quotes-carousel-active@2x.png");
    }
  }
}

@include mediumDisplay {
  .companyCarousels {
    padding: 100px 10% 120px;
    .carousel-caption {
      .comment {
        height: 250px;
        font-size: 26px;
        line-height: 36px;
      }
      .name {
        margin: 70px 0 50px;
      }
    }
  }
}

@include largeDisplay {
  .companyCarousels {
    padding: 100px 10% 120px;
    .carousel-caption {
      .comment {
        height: 150px;
      }
    }
  }
}

//company cta section
.companyCTA {
  padding: 90px 4% 120px;
  font-size: 18px;
  line-height: 28px;
  color: $navy;
  letter-spacing: -0.0075em;
  .ctaText {
    margin-bottom: 100px;
  }
  h2 {
    font-size: 60px;
    line-height: 62px;
    font-family: "Matter-SemiBold";
    letter-spacing: -0.03em;
  }
  .unitTitle {
    margin-bottom: 30px;
  }
  .divider {
    background-image: url("/assets/company/company-contact-dashed-line-navy60-full@2x.png");
    width: 100%;
    height: 2px;
    margin: 50px 0 50px;
    background-size: 50%;
  }
  .contact {
    margin-top: 70px;
    a {
      display: block;
    }
  }
  .support {
    .row {
      margin: 0;
    }
    ol {
      margin: 35px 0;
      li {
        margin: 1em 0;
      }
    }
  }
  .hour {
    .col-sm-6 {
      width: 50%;
    }
  }
  .mapContainer {
    border-radius: 12px;
    position: relative;
    overflow:hidden;
    @include dropShadow;
    .floating {
      width: 262px;
      height: 116px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0075em;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $navy;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 8px;
      .imgContainer {
        width: 46px;
        height: 67px;
      }
      .text {
        width: 55%;
      }
      a {
        margin-top: 10px;
        display: block;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@include mediumDisplay {
  .companyCTA {
    padding: 110px 12% 120px;
    h2 {
      font-size: 66px;
      line-height: 70px;
    }
    .contact a {
      font-size: 26px;
      line-height: 36px;
    }
    .support {
      font-size: 20px;
      line-height: 30px;
    }
    a {
      font-size: 20px;
    }
    .hour {
      width: 65%;
    }
  }
}

@include largeDisplay {
  .companyCTA {
    .hour {
      width: 100%;
    }
    .mapContainer {
      height: fit-content;
      margin-top: 30%;
    }
  }
}
