.contact {
  .hidden {
    display: none;
  }
  .alert {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 70px;
  }
  .articleContent {
    margin-top: 0;
    padding-bottom: 80px;
  }
  li h2 {
    font-family: "Matter-SemiBold";
    font-size: 18px;
    line-height: 28px;
  }
  .formContainer {
    border-radius: 8px;
    background: #fafaf6;
    .topBar {
      background: $navy;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 12px;
      border-radius: 8px 8px 0 0;
      height: 70px;
      font-family: "Matter-Semibold";
      .title {
        color: $white;
        padding: 8px 20px;
      }
    }
    form {
      padding: 0 5% 30px;
      max-height: 1500px;
      transition: max-height ease 0.5s;
      input {
        cursor: text;
        position: relative;
      }
      .input-group-append {
        width: 100%;
        border-radius: 8px;
      }
      .form-group {
        margin-bottom: 0;
        position: relative;
      }
      label {
        font-size: 20px;
        line-height: 30px;
        font-family: "Matter-SemiBold";
        margin-top: 35px;
        color: $navy;
      }
      .form-control {
        color: $navy;
        line-height: 26px;
        letter-spacing: -0.0075em;
        height: 45px;
        padding: 10px 15px;
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      select {
        // display: flex;
        background-image: url(../assets/main/home-ratecalculator-arrow-dropdown@2x.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 15px);
        background-position-y: 50%;
      }
      .form-check {
        label {
          font-family: "Matter-Regular";
          margin-top: 10px;
          margin-left: 10px;
        }
      }
      .dailyVolume {
        margin-bottom: 30px;
        .form-label {
          margin-top: 10px;
          // font-family: "Matter-Regular";
          font-size: 18px;
        }
      }
      textarea.form-control {
        height: auto;
      }
      .was-validated .form-control:invalid,
      .form-control.is-invalid {
        background-image: none;
      }
      .was-validated .form-control:invalid:focus,
      .form-control.is-invalid:focus {
        box-shadow: none;
      }
      .error {
        font-size: 16px;
        line-height: 20px;
        color: $error;
        display: flex;
        align-items: flex-start;
        margin-top: 10px;
        svg {
          margin-right: 5px;
        }
      }
      button {
        width: 100%;
        margin-top: 30px;
      }
    }
    form.loading {
      max-height: 800px;
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader {
    display: none;
  }
  .loading {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
      display: none;
    }
    .loader {
      display: inline-block;
      position: absolute;
      animation: spin 3s linear infinite;
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
  .successed {
    text-align: center;
    padding: 70px 30px;
    margin: 0 auto;
    h3 {
      font-size: 28px;
      margin-top: 25px;
    }
    svg {
      color: $success;
      width: 100px;
      height: 100px;
    }
  }
}

@include mediumDisplay {
  .contact {
    .formContainer {
      background: $white;
    }
    .articlesTitle {
      h1 {
        margin-top: 100px;
      }
    }
    .articleContent {
      margin-top: -640px;
      padding-bottom: 100px;
    }
    .articleMain {
      padding: 0;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .form-group {
        width: 45%;
      }
      .destinationCountry,
      .destinationCountry .form-group {
        width: 100%;
      }
      .dailyVolume {
        input {
          width: 45%;
        }
      }
      .destinationCountry {
        input,
        label {
          cursor: pointer;
        }
      }
      .submitButton {
        button {
          width: 100%;
        }
      }
    }
  }
}

@include largeDisplay {
  .contact {
    .articlesTitle .titleText,
    .articleContent {
      padding: 0 15% 100px;
    }
  }
}
