footer {
  background-color: $navy;
  color: $white;
  padding: 70px 5% 90px;
  position: relative;
  z-index: 9;
  h3 {
    color: $yellow;
    font-size: 20px !important;
    line-height: 30px !important;
    letter-spacing: -0.01em !important;
    font-family: "Matter-SemiBold";
  }
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
  }
  ul {
    list-style-type: none;
  }
  li a {
    color: $white;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.0075em;
  }
  .row {
    margin: 0;
  }
  .col {
    padding: 0;
  }
}

.footerTop {
  border-bottom: 1px solid #697897;
}

.footerTopText {
  .logoContainer {
    width: 190px;
  }
  p {
    margin: 24px 0 50px;
  }
}

.footerNav {
  h3 {
    margin-bottom: 30px;
  }
  .category {
    padding-bottom: 70px;
    width: 50%;
  }
}

.footerSocialMedia {
  display: flex;
  margin: 18px 0 30px;
  a {
    margin: 0 15px 0 0;
    display: inline-block;
    width: 25px;
    svg {
      width: 25px;
      height: 25px;
      color: #9ba5b9;
    }
  }
}

.footerTerms {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  opacity: 0.6;
  margin-bottom: 35px;
  a {
    color: $white;
    margin-right: 30px;
  }
}

.disclaimer {
  opacity: 0.6;
  .proudly {
    text-align: left;
    margin-top: 30px;
  }
}

@include mediumDisplay {
  .footerTopText {
    p {
      width: 55%;
      margin-bottom: 70px;
    }
  }
  .footerNav {
    .category {
      width: 25%;
    }
  }
  .footerSocialMedia {
    order: 1;
    justify-content: flex-end;
    padding-right: 0;
    margin-top: 30px;
    a:last-of-type {
      margin-right: 0;
    }
  }
  .footerTerms {
    padding-left: 0;
    margin-top: 30px;
  }
  .disclaimer {
    order: 2;
    padding-left: 0;
    width: 100%;
    .col-md-6 {
      padding: 0;
    }
    .proudly {
      text-align: right;
      margin-top: 0;
    }
  }
}

@include largeDisplay {
  .footerTopText p {
    width: 100%;
  }
  .footerTerms p,
  .footerTerms div {
    display: inline-block;
    margin-right: 30px;
  }
}
