.home {
  .title,
  h3,
  h4 {
    font-family: "Matter-Semibold";
  }
  .title {
    white-space: pre-line;
    line-height: 20px;
    letter-spacing: 0;
    font-family: "Matter-Semibold";
    color: #506185;
  }
  h2 {
    font-size: 51px;
    line-height: 54px;
    letter-spacing: -0.02em;
  }
  h3 {
    font-size: 41px;
    line-height: 43px;
    letter-spacing: -0.015em;
  }
  h4 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.01em;
    margin: 25px 0 10px;
  }
  h5 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-family: "Matter-SemiBold";
  }
  h6 {
    font-size: 60px;
    line-height: 62px;
    font-family: "Matter-SemiBold";
  }
  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.0075em;
  }
  .tag {
    background: $pop-teal;
    color: $navy;
    border-radius: 10px;
    width: fit-content;
    font-size: 10px;
    line-height: 12px;
    font-family: "Matter-SemiBold";
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 5px 8px;
  }
  .landingBgM,
  .landingBgL {
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .landingOverlay {
    display: none;
  }
  .headerBottom {
    background: $beige;
    color: $navy;
    padding: 70px 0;
    .imgContainer {
      width: 60%;
      margin: 100px auto 50px;
    }
    a {
      margin-top: 10px;
      display: inline-block;
    }
  }
  .singleColumn {
    width: 100%;
  }
  .how,
  .partners {
    width: 90%;
    margin: 0 auto;
  }
  .how {
    .title {
      margin-bottom: 50px;
    }
  }
  .inbetween {
    display: none;
  }
  .partners {
    .title {
      margin: 100px 0 50px;
    }
    .columnsContainer {
      justify-content: space-between;
    }
  }
  .partnerContainer {
    width: 49%;
    margin-bottom: 10px;
    background-color: $white;
    border-radius: 4px;
    padding: 10px 20px;
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(4) {
      padding: 10px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include mediumDisplay {
  .home {
    h3 {
      font-size: 51px;
      line-height: 54px;
    }
    h5 {
      font-size: 37px;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
    }
    .headerWCreamBg {
      position: relative;
    }
    .landingBgM {
      display: inline-block;
    }
    .headerSideImg {
      padding-top: 40px;
      .text {
        flex-basis: 100%;
        .title {
          margin: 30px 0;
        }
      }
      p {
        width: 90%;
      }
      .mlImgContainer {
        width: 99%;
      }
    }
    .headerBottom {
      padding: 60px 0 100px;
      h3 {
        width: 75%;
      }
    }
    .how {
      .title {
        padding-top: 40px;
      }
      .singleColumn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
      }
      .imgContainer {
        order: 1;
        margin-top: 0;
      }
      .text {
        width: 85%;
        margin-right: 10%;
      }
    }
    .partners {
      .title {
        margin-top: 50px;
      }
    }
    .partnerContainer {
      width: 24%;
    }
  }
}

@include largeDisplay {
  .home {
    .landingBgM {
      display: none;
    }
    .landingBgL {
      display: inline-block;
    }
    .headerSideImg {
      .mlImgContainer {
        // width: 80%;
        margin-right: 10%;
      }
      .text {
        flex-basis: 110%;
      }
      .title {
        font-size: 88px;
        line-height: 90px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        width: 90%;
      }
    }
    .floatingContainer.right .onTop {
      top: 190px;
      right: 40px;
    }
    .landingOverlay {
      display: block;
      border-radius: 10px;
      width: 265px;
      position: relative;
      z-index: 9;
      box-shadow: 0px 16.5288px 33.0576px rgba(0, 0, 0, 0.12);
      p {
        font-family: "Matter-SemiBold";
      }
      .status {
        display: flex;
        text-transform: uppercase;
      }
      .topHalf {
        background-color: #edf9fc;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        p {
          font-size: 28px;
          &:nth-of-type(2) {
            margin-bottom: 10px;
          }
        }
        .iconContainer {
          width: 25px;
          svg {
            width: 25px;
            height: 25px;
          }
        }
        .status p {
          font-size: 18px;
          margin-left: 5px;
          margin-bottom: 5px;
        }
      }
      .imgContainer {
        position: absolute;
        right: -8%;
        top: 94px;
        width: 55%;
        svg {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transform: rotate(180deg);
        }

        circle {
          fill: transparent;
        }
      }
      .bottomHalf {
        background-color: $white;
        border-radius: 0 0 10px 10px;
        padding: 20px;
        p {
          font-size: 18px;
          margin-bottom: 0;
        }
        .status {
          p {
            font-size: 13px;
            &::before {
              content: "";
              background-color: #374b74;
              background-size: 10px;
              width: 10px;
              height: 10px;
              display: inline-block;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          .ps::before {
            background-color: #9ba5b9;
          }
        }
      }
    }
    .headerBottom {
      padding-top: 0;
      h3 {
        width: 45%;
      }
    }
    .how {
      position: relative;
      padding-bottom: 50px;
      .singleColumn {
        width: 31%;
        flex-direction: column;
        justify-content: flex-start;
      }
      .imgContainer {
        order: 0;
      }
    }
    .inbetween {
      display: inline-block;
      width: 16%;
      position: absolute;
      margin-top: 5%;
    }
    .wind {
      left: 22.5%;
    }
    .dottedLine {
      left: 57.5%;
    }
    .partnerContainer {
      width: 22%;
      margin-bottom: 20px;
    }
    // .columnsContainer{
    //   padding: 10px 40px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }
  }
}

// ---- sectors --------
.homeSectors {
  color: $navy;
  padding-top: 100px;
  background: $white;
  .topText {
    text-align: center;
    margin-bottom: 20px;
    p {
      margin-bottom: 50px;
      font-size: 16px;
    }
    h5 {
      width: 73%;
      margin: 0 auto;
    }
  }
  .singleSection:first-of-type {
    .description {
      margin-top: 80px;
    }
  }
  .singleSectionContent {
    width: 90%;
    margin: 0 auto;
  }
  .singleSection {
    padding: 50px 0;
    h3 {
      text-align: center;
      margin-bottom: 45px;
      white-space: pre-line;
    }
    .description {
      margin-top: 120px;
    }
    // a {
    //   margin: 30px 0 100px 8%;
    // }
  }
  .iconContainer {
    width: 150px;
    height: 100px;
    margin: 0 auto 50px;
    img {
      height: 100%;
    }
  }
  .floatingContainer {
    padding-right: 0;
    .onTop {
      width: 50%;
      top: 75%;
    }
    .onBottom {
      width: 85%;
    }
  }
  .floatingContainer.left {
    padding-right: 0;
    .onTop {
      left: 0%;
    }
    .onBottom {
      margin: 0 0 0 auto;
    }
  }
  .singleSection.odd {
    background: #edf9fc;
  }
  .floatingContainer.right {
    padding-left: 0;
    .onBottom {
      margin: 0 auto 0 0;
      width: 80%;
    }
    .onTop {
      top: 92%;
      width: 50%;
    }
  }
  button {
    margin: 30px 0 70px;
  }
}

@include mediumDisplay {
  .homeSectors {
    p {
      font-size: 20px;
      line-height: 30px;
      width: 83%;
      margin: 0 auto;
    }
    .topText {
      margin-bottom: 20px;
      h5 {
        width: 76%;
      }
    }
    .singleSection {
      padding: 80px 0;
      .description {
        margin-top: 80px;
      }
      a {
        margin: 30px 0 100px 8%;
      }
    }
    .floatingContainer {
      .onTop {
        width: 38%;
        top: 72%;
      }
      .onBottom {
        width: 70%;
      }
    }
    .floatingContainer.left {
      .onTop {
        left: 15%;
      }
    }
    .floatingContainer.right {
      // margin-bottom: 23%;
      .onTop {
        width: 45%;
        top: 80%;
        right: -5px;
      }
      .onBottom {
        width: 68%;
        margin-left: 10%;
      }
    }
  }
}

@include largeDisplay {
  .homeSectors {
    .topText {
      h5 {
        width: 50%;
      }
    }
    .singleSection h3,
    .iconContainer,
    .singleSection p,
    button {
      margin-left: 10px;
    }
    .singleSectionContent {
      display: grid;
      width: 90%;
    }
    .iconContainer {
      grid-area: 1 / 1 /1 / 1;
      margin-bottom: 50px;
    }
    .singleSection:first-of-type {
      .description {
        margin-top: 0;
      }
    }
    .singleSection {
      h3 {
        grid-area: 2 / 1 / 2/ 1;
        text-align: left;
        margin-bottom: 45px;
      }
      .description {
        margin-top: 0;
      }
      a {
        margin: 0;
      }
      .buttonContainer {
        grid-area: 4/ 1 /4 /1;
        display: inline-block;
        // margin-bottom: 160px;
      }
    }
    p {
      grid-area: 3/ 1/ 3 /1;
      width: 100%;
    }
    .floatingContainer.left {
      grid-area: 1 / 2/ 6/ 5;
      margin-left: 8%;
      .onTop {
        left: 90px;
        top: 62%;
      }
    }
    .odd {
      .iconContainer {
        grid-area: 1 / 4 / 1/ 5;
      }
      h3 {
        grid-area: 2 / 4/ 2/ 5;
      }
      p {
        grid-area: 3 / 4/ 3/ 6;
      }
      .buttonContainer {
        grid-area: 4 / 4 / 4 /4;
        margin: 30px 0 100px;
        button {
          margin: 0;
        }
      }
      .floatingContainer.right {
        width: 100%;
        grid-area: 1 / 1/ 5/ 4;
        margin-left: -8%;
        .onTop {
          right: 30px;
          top: 75%;
        }
      }
    }
  }
}

//stats section
.homeStats {
  color: $navy;
  position: relative;
  .homeStatsBg {
    position: absolute;
    z-index: -1;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .imgML {
    display: none;
  }
  .titleText {
    text-align: center;
    .title {
      font-size: 16px;
      margin: 100px auto 50px;
    }
    h5 {
      width: 80%;
      margin: 0 auto 100px;
    }
  }
  .stats {
    padding-bottom: 50px;
    h2 {
      color: $orange;
    }
    .description {
      margin: 30px auto 0;
    }
    .divider {
      background: url("../assets/main/home-stats-dashed-line-deepblue-repeaty@2x.png");
      background-repeat: repeat-y;
      transform: none;
      width: 1px;
      height: 75px;
    }
    .divider.num1 {
      display: none;
    }
  }
}

@include mediumDisplay {
  .homeStats {
    .imgS {
      display: none;
    }
    .imgML {
      display: inline-block;
    }
    .titleText {
      .title {
        margin-bottom: 60px;
      }
    }
    .stats {
      .description {
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px;
        width: 81%;
      }
    }
  }
}

@include largeDisplay {
  .homeStats {
    padding-bottom: 110px;
    .titleText h5 {
      width: 50%;
    }
    .stats .col {
      position: relative;
      .divider.num0 {
        display: inline-block;
        position: absolute;
        top: -50%;
        right: -20%;
        width: 100px;
        height: 280px;
      }
    }
  }
}

// rate calculator
.homeCalculator {
  padding: 5% 5% 70px;
  background: $beige;
  color: $navy;
  .texts {
    padding: 0 5%;
    .imgContainer {
      width: fit-content;
      margin: 50px 0;
    }
    p {
      margin: 50px 0;
    }
  }
  .lowerContainer {
    max-height: 700px;
    overflow: hidden;
    transition: max-height ease 0.3s;
  }
  .lowerContainer.loading {
    max-height: 400px;
    transition: max-height ease 0.3s;
  }
}

.calculatorContainer {
  .topBar {
    background: $navy;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    .title {
      color: $white;
      padding: 8px 20px;
    }
  }
}

.contentWrapper {
  border-radius: 8px;
  @include dropShadow;
}

.calculator {
  border-radius: 8px;
  background: #f2f0d3;
  form {
    padding: 0 5% 30px;
    .input-group-append {
      width: 100%;
      border-radius: 8px;
    }
    .form-group {
      margin-bottom: 0;
      position: relative;
      &::after {
        content: "";
        background-image: url(/assets/main/home-ratecalculator-arrow-dropdown@2x.png);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 71%;
        right: calc(5% + 20px);
        pointer-events: none;
      }
    }
    .input-group-append {
      position: relative;
      .iconContainer {
        position: absolute;
        right: 10%;
        top: 20%;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
    //get rid of the drop down arrow for the postal input
    .form-group:last-of-type::after {
      background: none;
    }
    label {
      font-size: 20px;
      line-height: 30px;
      font-family: "Matter-SemiBold";
      margin-top: 35px;
    }
    .form-control {
      color: $navy;
      line-height: 26px;
      letter-spacing: -0.0075em;
      height: 45px;
      padding: 10px 15px;
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      // width: 95%;

      // &:focus {
      //   border: 1px solid $primary;
      // }
    }
    .caOption,
    .usOption {
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: 15px 10px;
      padding: 10px 50px;
    }
    .caOption {
      background-image: url("../assets/main/home-ratecalculator-flag-canada-2pxradius@2x.png");
    }
    .usOption {
      background-image: url("../assets/main/home-ratecalculator-flag-usa-2pxradius@2x.png");
    }
    .postal {
      cursor: text;
      margin: 20px 0 30px;
      position: relative;
      .alert {
        display: none;
      }
    }
    .was-validated .form-control:invalid,
    .form-control.is-invalid {
      background-image: none;
    }
    .was-validated .form-control:invalid:focus,
    .form-control.is-invalid:focus {
      box-shadow: none;
    }
    .form-control.is-invalid ~ .alert {
      width: fit-content;
      display: inline-block;
      position: absolute;
      right: 0;
      top: -2px;
      svg {
        color: $error;
      }
    }
    button {
      width: 100%;
    }
  }
}

.result {
  svg {
    width: 20px;
    height: 20px;
  }
  .topBar {
    color: $white;
    flex-direction: column;
    .title {
      padding-left: 10%;
    }
  }
  .locations {
    display: flex;
    margin-left: 10%;
  }
  .iconContainer {
    width: 25px;
    margin: 0 15px;
  }
  .displayResult {
    background-color: $white;
    padding: 50px 0 30px;
    border-radius: 0 0 8px 8px;
    & > div {
      justify-content: flex-start;
      padding-left: 10%;
      margin-left: 0;
      .col-sm-10 {
        width: 83%;
      }
    }
  }
  .totalFee span,
  .calculatorTracking .col:first-of-type {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-family: "Matter-SemiBold";
  }
  .totalFee {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    span {
      margin-left: 10px;
    }
  }
  .calculatorTracking {
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }
  .breakdown {
    margin-top: 45px;
    .row {
      justify-content: space-between;
      padding-bottom: 10px;
      width: 100%;
      margin-left: 0;
      .col {
        padding-right: 0;
      }
      & .col:last-of-type {
        text-align: right;
      }
    }
  }
  .disclaimer p {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
  button {
    width: 100%;
    margin-top: 40px;
    svg {
      margin-right: 10px;
    }
  }
}

.loaderContainer {
  background: #f2f0d3;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
  .spinner-border {
    width: 120px;
    height: 120px;
    color: $navy;
    border-width: 12px;
  }
}

.calculatorContainer .loading {
  .topBar {
    height: 50px;
    width: 100%;
    & > * {
      display: none;
    }
  }
  form {
    display: none;
  }
  .spinner-border {
    display: inline-block;
  }
}

@include mediumDisplay {
  .homeCalculator {
    .texts {
      padding-right: 0;
      .imgContainer {
        margin-top: 80px;
      }
      p,
      .link {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .col-md-7 {
      padding-left: 5%;
    }
  }
  .calculator,
  .result {
    margin-top: 150px;
    margin-left: 5%;
    .topBar {
      .title {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .result {
    .row {
      margin-right: 0;
    }
    .topBar .title {
      padding-left: 5%;
    }
    .locations {
      margin-left: 5%;
    }
  }
  .result .displayResult > div {
    padding-left: 0;
    .col-sm-10 {
      width: 300px;
      margin: 0 auto;
    }
  }
}

@include largeDisplay {
  .homeCalculator,
  .result {
    justify-content: space-evenly;
    .texts {
      width: 35%;
      h6 {
        font-size: 88px;
        line-height: 90px;
        letter-spacing: -0.03em;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .result {
    .displayResult {
      padding-left: 8%;
      padding-right: 8%;
    }
  }
}

// home cta
.homeCTA {
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .homeCTABg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: auto;
  }
  h3 {
    width: 80%;
    margin: 0 auto 70px;
    white-space: pre-line;
  }
  .bttnGroup {
    width: 100%;
  }
  .bttn {
    margin: 0 2%;
  }
}

@include mediumDisplay {
  .homeCTA {
    h3 {
      width: 100%;
    }
  }
}
