
.loadingScreen {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .lds-roller {
      color:#0099CE;
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      display: inline-block;
      position: relative;
      width: 90px;
      height: 90px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }