// home map
.homeMap {
  background: $deep-blue;
  color: $white;
  padding: 50px 4%;

  h3 {
    margin: 30px 0 50px;
  }
  background-image: url("../assets/main/bg-curve-beige@2x.png");
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.map {
  position: relative;
  margin-top: 20px;
  height: 400px;
  .input-group {
    button {
      @include dropShadow;
      transition: 800ms all ease;
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }
    display: inline-block;
    width:auto;
    z-index: 801;
    margin-top: 26px;
    left: 20px;
  }
  button {
    border: none;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .btn-light {
    background: $white;
  }
  .btn-primary {
    background: $navy;
  }
  &.fullscreen {
    position: fixed;
    border-radius:0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    margin-top: 0px;
  }
  .leaflet-popup-content {
    width: 200px !important;
    margin: 15px 25px 20px 20px;
    color: $navy;
    font-size: 14px;
    font-family: "Matter-Regular";
    a {
      margin-top: 5px;
      color: $link;
      font-size: 14px;
      font-weight: 900;
    }
    p {
      margin:0;
    }
  }
  // .marker-cluster-small {
  //   background: rgb(193, 239, 255);
  //   > div {
  //     background: rgb(92, 214, 255)
  //   }
  // }
  .tag {
    background: rgb(193, 239, 255);
    padding: 3px 5px;
    p {
      
      font-size:8px;
      margin:0px;
      line-height:13px;
    }
    display: flex;
    align-content: center;
    margin-bottom:10px;
    svg {
      font-size: 13px;
      margin-right: 5px;
      color: #0099CE;
    }
  }
  .mapWrapper {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    @include dropShadow;
    &.fullscreen {
      border-radius:0px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      margin-top: 0px;
    }
    .fullscreenControl {
      background: #fff;
      border: 2px solid #ccc;
      border-radius: 3px;
      z-index: 900;
      position: absolute;
      color: #000;
      font-size: 20px;
      right: 10px;
      top: 25px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-content: center;
      &:hover {
        background: #f4f4f4;
        cursor: pointer;
      }
    }
  }
  .curveContainer {
    background: $beige;
  }
}

@include mediumDisplay {
  .homeMap {
    padding: 60px 5%;
    h3 {
      margin-top: 40px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .map {
    height: 500px;
    top: 20px;
    .mapWrapper {
      border-radius: 24px;
    }
    &.fullscreen {
      .mapWrapper {
        border-radius:0px;
      }
    }
    .input-group {
      button {
        display:flex;
        align-content: center;
        padding: 5px 10px;
        margin: 0;
      }
    }
  }
}

@include largeDisplay {
  .homeMap {
    .homeMapText {
      display: flex;
      align-items: flex-end;
    }
    h3 {
      margin-bottom: 0;
      width: 40%;
    }
    .description {
      width: 60%;
    }
  }
  .map {
    top: 50px;
    height: 500px;
    .mapWrapper {
    }
  }
}
