.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
  background: $white;
  transition: background-color 0.3s ease;
  &.primary {
    background: $primary;
  }
}

header {
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 1500px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .col {
    padding-left: 0;
    padding-right: 0;
  }
  ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    a {
      color: $navy;
    }
    li {
      position: relative;
    }
  }
  label {
    margin-bottom: 0;
  }
  .dropdownLabel {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    cursor: pointer;
    svg {
      color: $navy;
      opacity: 0.5;
    }
  }
  .headerCTA {
    a {
      display: inline-block;
    }
  }
}

.headerLogo {
  width: 190px;
  img {
    width: 100%;
  }
}

.mobileMenuIcon {
  cursor: pointer;
  svg {
    width: 30px;
    height: 30px;
  }
  & .primaryNav {
    color: $white;
  }
  & .lightNav {
    color: $deep-blue;
  }
}

.mainMenu,
.menuRight,
header .verticalDivider {
  display: none;
}

.dropdown {
  opacity: 0;
  position: absolute;
}

.mobileNav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: #d1f0f9;
  overflow-x: hidden;
  transition: transform cubic-bezier(0.33, 0.1, 0.25, 1) 0.5s,
    opacity cubic-bezier(0.33, 0.1, 0.25, 1) 0.4s;
  .closeIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
      margin: 20px;
      color: $deep-blue;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding: 0 5% 30px;
    li {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.01em;
      font-family: "Matter-SemiBold";
      color: #051e51;
      min-height: 60px;
      border-bottom: 1px solid rgba(5, 30, 81, 0.3);
      a,
      label {
        vertical-align: -50%;
      }
    }
  }
  label {
    width: 100%;
    &::after {
      margin-top: 15px;
    }
  }

  input[type="checkbox"] + label svg {
    transform: rotate(0deg);
    transition: cubic-bezier(0.33, 0.1, 0.25, 1) 0.5s;
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] ~ div {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: max-height cubic-bezier(0.33, 0.1, 0.25, 1) 0.8s;
  }
  input[type="checkbox"]:checked ~ div {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: static;
    margin: 0 5% 20px;
    max-height: 500px;
    transition: max-height cubic-bezier(0.33, 0.1, 0.25, 1) 0.8s;
    a {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.0075em;
      font-family: "Matter-Regular";
      height: 44px;
      padding-top: 20px;
    }
  }
  input[type="checkbox"]:checked + label svg {
    transform: rotate(180deg);
  }

  .headerCTA {
    margin-left: 5%;
    button {
      margin-right: 10px;
    }
  }
}

.mobileNav.hide {
  transform: translate3d(100vw, 0, 0);
  opacity: 0;
}

.mobileNav.show {
  transform: translate3d(0vw, 0, 0);
  opacity: 1;
}

@include mediumDisplay {
  header {
    height: 70px;
  }
  .mobileMenuIcon {
    order: 2;
  }
  .mobileNav {
    width: 414px;
    ul {
      padding-left: 10%;
      padding-right: 10%;
    }
    .headerCTA {
      margin-left: 10%;
    }
  }
  .menuRight {
    display: inline-block;
    order: -1;
    label:first-of-type,
    input {
      display: none;
    }
    button {
      background: none;
      border: none;
      font-family: "Matter-SemiBold";
      line-height: 20px;
    }
    .primaryBttn {
      margin: 0 15px 0 20px;
      height: 44px;
      background: $deep-blue;
    }
    .dropdown {
      top: -150px;
    }
  }
}

@include largeDisplay {
  header {
    align-items: center;
    .row {
      order: 2;
    }
    ul {
      align-items: center;
    }
    .dropdownLabel {
      min-height: auto;
    }
    input[type="checkbox"] {
      display: none;
    }
    label ~ .dropdown {
      position: absolute;
      pointer-events: none;
      margin: 0 0 0 -12px;
      padding-top: 0;
      transition: opacity cubic-bezier(0, 0, 0.1, 1) 0.15s,
        padding-top cubic-bezier(0, 0, 0.1, 1) 0.5s;
      ul {
        min-width: 160px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #1e3462;
        padding: 10px 0 20px;
        border-radius: 8px;
      }

      .yellowArrow {
        opacity: 0;
      }
      li {
        height: 35px;
        padding: 0 0 0 20px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: transparent;
        transition: background-color cubic-bezier(0, 0, 0.1, 1) 0.5s;
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          transition: color cubic-bezier(0, 0, 0.1, 1) 0.5s;
        }
        &:hover {
          background-color: $navy;
          width: 100%;
          & > a {
            color: $yellow;
          }
          .yellowArrow {
            opacity: 1;
          }
        }
      }
      a {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.0075em;
        font-family: "Matter-Regular";
        color: $white;
        vertical-align: -20%;
        margin-right: 20px;
      }
    }
    label:hover ~ .dropdown,
    label ~ .dropdown:hover {
      display: block;
      position: absolute;
      opacity: 1;
      padding-top: 12px;
      z-index: 9999;
      border-radius: 8px;
      pointer-events: auto;
    }
  }
  .mobileNav,
  .mobileMenuIcon,
  .col-md-auto {
    display: none;
  }
  .mainMenu {
    display: inline-block;
    order: 1;
    font-family: "Matter-SemiBold";
    a,
    label {
      margin-right: 32px;
      color: #051e51;
    }
    label:after {
      margin-left: 5px;
      margin-top: 5px;
    }
    & > ul & > li {
      display: flex;
      align-items: center;
    }
  }
  .menuRight {
    display: flex;
    align-items: center;
    label:first-of-type {
      display: inline-block;
      margin-right: 20px;
      font-family: "Matter-SemiBold";
    }
    .dropdown {
      top: 30px;
    }
    .yellowArrow {
      margin-left: 10px;
    }
    .verticalDivider {
      display: inline-block;
    }
    button:first-of-type {
      margin: 0 20px;
    }
  }
}
