.news {
  letter-spacing: -0.01em;
  color: $navy;
  h1 {
    font-size: 60px;
    line-height: 62px;
    font-family: "Matter-SemiBold";
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 30px;
    line-height: 34px;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
    font-family: "Matter-SemiBold";
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.0075em;
  }
  .smallTitle {
    font-size: 16px;
    line-height: 20px;
    font-family: "Matter-SemiBold";
    letter-spacing: 0;
    color: #506185;
  }
  .tags {
    display: flex;
    margin: 15px 15px 0 0;
  }
  .tag {
    background-color: #d9f3fa;
    color: $navy;
    padding: 4px 8px;
    border-radius: 10px;
    font-family: "Matter-SemiBold";
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 0px 5px;
    width: fit-content;
  }
  .readmore {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    font-family: "Matter-SemiBold";
  }
}

// news header
.newsHeader {
  .text {
    margin: 70px 5% 80px;
  }
  h1 {
    margin-top: 50px;
  }
  .imgContainer {
    display: none;
  }
}

@include mediumDisplay {
  .newsHeader {
    min-height: 375px;
    .text {
      margin-top: 100px;
    }
    h1 {
      margin-top: 60px;
    }
    .imgContainer {
      display: inline-block;
    }
  }
}

@include largeDisplay {
  .newsHeader {
    position: relative;
    h1 {
      font-size: 88px;
      line-height: 90px;
    }
    .imgContainer {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }
}

// news headline section
.newsHeadline {
  background-color: $deep-blue;
  color: $white;
  padding-bottom: 70px;
  .tags {
    justify-content: flex-end;
  }
  h2 {
    margin: 35px 0 40px 5%;
  }
  .readmore {
    margin-left: 5%;
  }
}

@include mediumDisplay {
  .newsHeadline {
    padding: 50px 5% 70px;
    .imgContainer img {
      border-radius: 12px;
    }
    .tags {
      justify-content: flex-start;
      margin: 50px 0;
    }
    h2,
    .readmore {
      margin-left: 0;
    }
    h2 {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.01em;
      width: 85%;
      margin-top: 0;
    }
  }
}

@include largeDisplay {
  .newsHeadline {
    .imgContainer {
      padding-right: 2%;
    }
    .tags {
      margin-top: 25px;
    }
    h2 {
      width: 100%;
    }
  }
}

// sort section
.newsSort {
  background-color: $navy;
  padding: 25px 5% 35px;
  .title {
    color: #bfeaf6;
    text-transform: uppercase;
    font-family: "Matter-SemiBold";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.12em;
    margin-bottom: 25px;
  }
  .category:last-child .divider {
    display: none;
  }
  .category {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  a {
    color: #b4bbcb;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: -0.01em;
    padding-right: 20px;
  }
  .divider {
    background-image: url("../assets/news/news-dashed-divider-categories@2x.png");
    display: inline-block;
    background-size: 2px 30px;
    width: 2px;
    height: 30px;
  }
}

// news main
.newsMain {
  background-color: #fafaf6;
}

// all articles section
.newsArticles {
  padding: 50px 5% 130px;
  .articleCard {
    margin: 40px 5%;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    .imgContainer {
      img {
        border-radius: 8px 8px 0 0;
      }
    }
    .tags {
      justify-content: flex-end;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      margin: 35px 30px 30px;
    }
    .readmore {
      margin-left: 30px;
    }
  }
  button {
    width: 100%;
    margin-top: 70px;
  }
}

@include mediumDisplay {
  .newsArticles {
    h2 {
      margin-bottom: 40px;
    }
    .row {
      justify-content: space-evenly;
    }
    .articleCard {
      margin: 25px;
    }
  }
}

@include largeDisplay {
  .newsMain {
    padding: 0 3%;
  }
  .newsArticles {
    .row {
      justify-content: space-between;
    }
    .articleCard {
      padding: 0 0 40px 0;
      margin: 25px 0;
      flex: 0 0 46%;
      max-width: 46%;
    }
  }
}

//news media inquiries
.newsMedia {
  padding: 0 5% 170px;
  .row {
    margin: 0;
  }
  p {
    margin: 25px 0 70px;
  }
  .twitterTimeline {
    height: 400px;
    margin: 0;
  }
}

@include mediumDisplay {
  .newsMedia {
    .text {
      margin-top: 50px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
    }
    .twitterTimeline {
      order: -1;
      padding-right: 5%;
    }
  }
}

@include largeDisplay {
  .newsMedia {
    padding: 90px 0;
    .twitterTimeline {
      order: 1;
    }
    .twitterTimeline {
      height: 800px;
    }
  }
}

// img over section in news
.news {
  .imgOverSection {
    position: relative;
    top: -90px;
    margin-top: 0;
    padding-bottom: 0;
    .imgContainer {
      position: static;
    }
    .title {
      margin-top: 60px;
    }
  }
}
