.referrals {
  color: $navy;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0075em;
  h3,
  h4,
  h5 .smallTitle {
    font-family: "Matter-SemiBold";
  }
  h2 {
    font-size: 51px;
    line-height: 54px;
    letter-spacing: -0.02%;
  }
  h3 {
    font-size: 41px;
    line-height: 43px;
    letter-spacing: -0.015em;
  }
  h4 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.01em;
  }
  h5 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
  .smallTitle {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #506185;
  }
  .headerSideImgBgWrapper {
    background-color: #e5f7fb;
    .text {
      font-size: 60px;
      line-height: 62px;
      font-family: "Matter-SemiBold";
      margin-top: 50px;
    }
  }
}

@include mediumDisplay {
  .referrals {
    font-size: 20px;
    line-height: 30px;
    p {
      letter-spacing: -0.01em;
    }
    h4 {
      font-size: 37px;
      line-height: 40px;
    }
    .headerSideImg {
      flex-direction: column;
      width: 100%;
      padding-top: 0;
      .sImgContainer {
        display: inline-block;
        width: 100%;
      }
      .text {
        width: 60%;
        font-size: 66px;
        line-height: 70px;
        margin: 50px 5% 0;
      }
    }
  }
}

@include largeDisplay {
  .referrals {
    .headerSideImg {
      padding-bottom: 0;
      flex-direction: row;
      .text {
        width: 90%;
        margin: 120px 0 0 -6%;
      }
    }
  }
}

//program detail section
.referralsProgram {
  padding: 80px 5% 60px;
  h4 {
    margin: 50px 0;
  }
  .imgContainer {
    margin-top: 60px;
  }
}

@include largeDisplay {
  .referralsProgram {
    .imgContainer {
      margin-top: -10%;
    }
  }
}

//referrals how section
.referralsHow {
  padding: 0 5%;
  .smallTitle {
    margin-bottom: 50px;
  }
  h5 {
    margin: 35px 0 25px;
  }
  .contentCol {
    margin-bottom: 100px;
  }
}

@include mediumDisplay {
  .referralsHow {
    .smallTitle {
      margin-bottom: 70px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.0075em;
    }
    .contentCol {
      padding-right: 4%;
      margin-bottom: 120px;
    }
  }
}

@include largeDisplay {
  .referralsHow {
    .contentCol {
      padding-right: 6%;
    }
  }
}

//fine print section
.referralsFinePrint {
  width: 83%;
  margin: 0 auto;
  padding: 50px 5% 60px;
  background-color: $beige;
  border-radius: 12px;
  .title {
    font-family: "Matter-SemiBold";
    margin-bottom: 30px;
    line-height: 20px;
  }
  p,
  .link {
    font-size: 16px;
    line-height: 26px;
  }
}

@include largeDisplay {
  .referralsFinePrint {
    width: 92%;
    padding: 50px 6% 60px;
  }
}
