// segment title
.segmentTitle {
  position: relative;
  background-color: #fff;
  .imgContainer {
    max-height: 700px;
    width: 100%;
    // background: $navy;
    img {
      width: 100%;
    }
    video {
      max-height: 700px;
    }
  }
  .textContainer {
    font-size: 16px;
    color: rgba($color: $navy, $alpha: 0.7);
    width: 85%;
    margin: 40px auto 0;
    :first-child {
      font-family: "Matter-Semibold";
    }
  }
  .description {
    font-size: 22px;
    color: $navy;
    margin: 30px auto 25px;
  }
  button {
    margin: 0 0 70px 0;
  }
}

@include mediumDisplay {
  .segmentTitle {
    .imgContainer {
      z-index: 5;
      position: relative;
      &.small {
        display: none;
      }
    }
    .textContainer {
      position: relative;
      z-index: 9;
      margin-top: -70px;
      margin-left: 4%;
      padding: 30px 0px 30px 30px;
      background: $white;
      border-radius: 12px;
      width: 75%;
      @include dropShadow;
    }
    .description {
      font-size: 26px;
      line-height: 36px;
      width: 90%;
      margin: 30px 0 25px 0;
    }
    button {
      margin-bottom: 0;
    }
  }
  .segmentTitle.cream {
    background-color: rgba(237, 234, 192, 0.7);
  }
}

@include largeDisplay {
  .segmentTitle {
    .textContainer {
      margin-top: -210px;
      width: 41%;
      padding-bottom: 35px;
      padding-right: 0;
    }
    .description {
      margin-bottom: 25px;
      width: 95%;
    }
  }
}

//segment curved background
.segmentCurvedBg {
  // background-size: cover;
  margin-top: -1px;
  background-repeat: no-repeat;
  text-align: center;
  .textContainer {
    padding-bottom: 30px;
  }
  p {
    font-size: 30px;
    line-height: 34px;
    font-family: "Matter-Semibold";
    margin-bottom: 0;
    padding: 78px 0 35px;
    white-space: pre-line;
  }
  .underlinedText {
    text-decoration: underline $white;
    text-underline-offset: 6px;
  }
  .curveContainer {
    margin-top: -1px;
  }
}

@include mediumDisplay {
  .segmentCurvedBg {
    .textContainer {
      padding-bottom: 40px;
    }
    p {
      font-size: 66px;
      line-height: 70px;
      padding: 140px 5% 50px;
    }
    .underlinedText {
      text-underline-offset: 10px;
    }
  }
}

//segment four sections
.segmentFourSectionsContainer {
  margin-bottom: 100px;
  margin-top: -5px;
  background-position: 0 0;
  background-size: 100% 140px;
  background-repeat: no-repeat;
  .sectionContainer {
    margin: 0 auto;
    color: $navy;
    width: 90%;
    .title {
      color: rgba($color: $navy, $alpha: 0.7);
      font-weight: bold;
      line-height: 20px;
      padding: 30px 0 25px;
      letter-spacing: 0;
    }
  }

  .floatingContainer.right .onTop {
    width: 70%;
  }

  .textContainer {
    .subtitle {
      font-size: 26px;
      line-height: 30px;
      font-family: "Matter-Semibold";
      margin: 40px 0 35px;
    }
    .content {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.0075em;
      margin-bottom: 0;
    }
    .saveSubtitle.subtitle {
      font-size: 30px;
      line-height: 34px;
    }
    ul {
      padding-left: 5%;
      margin-bottom: 0;
    }
    li {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.0075em;
      padding: 5px 0;
      color: $primary;
      span {
        color: $navy;
      }
    }
    button {
      margin: 40px 0 0;
    }
  }
  .dividerContainer {
    margin: 70px auto 60px;
    // background-image: url(../assets/segment/segment-all-features-dashed-line-navy60-full@2x.png);
    background-image: url(../assets/segment/segment-all-features-dashed-line-navy60-full@2x.png);
    height: 2px;
    background-size: 50%;
    background-repeat: repeat-x;
  }

  .reduceSection {
    padding-top: 140px;
  }

  .contact {
    .imgContainer {
      width: 50%;
      margin-bottom: 35px;
      img {
        width: 100%;
      }
    }
    a {
      color: $link;
      font-size: 16px;
      line-height: 26px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@include mediumDisplay {
  .segmentFourSectionsContainer {
    background-size: 100% 260px;
    .sectionContainer {
      width: 73%;
      .title {
        margin-top: 15px;
      }
      .subtitle {
        margin: 50px 0 25px;
      }
      .textContainer {
        .content {
          font-size: 20px;
          line-height: 30px;
        }
        .saveSubtitle.subtitle {
          font-size: 37px;
          margin-bottom: 40px;
        }
        li {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
    .reduceSection {
      padding-top: 240px;
    }
    .contact {
      margin-top: -10px;
      margin-left: 12%;
      width: 56%;
      .imgContainer {
        width: 35%;
      }
    }
  }
}

@include largeDisplay {
  .segmentFourSectionsContainer {
    background-size: 100% 300px;
    .layoutContainer {
      display: flex;
      flex-wrap: wrap;
    }
    .sectionContainer {
      width: 45%;
      // margin-top: -8%;
      .subtitle {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 30px;
      }
    }

    .dividerContainer {
      display: none;
    }

    .textContainer {
      .content,
      li {
        font-size: 20px;
      }
      .content {
        width: 75%;
      }
      ul {
        padding-left: 2.5%;
      }
    }

    .saveContainer {
      margin: -18% 2.5% 0;
    }

    .contact {
      margin-top: 0;
      margin: 0 2.5%;
      .imgContainer {
        width: 40%;
      }
    }

    .contactInner {
      width: 67%;
    }

    .simpleSection .dividerContainer {
      display: block;
      margin-bottom: 60px;
      margin-left: 0;
      width: 90%;
    }

    .reduceSection {
      padding-top: 20px;
    }
    .simpleSection {
      padding-top: 170px;
    }
  }
}

//segment why
.segmentWhyOuter {
  background-color: $deep-blue;
}
.segmentWhy {
  text-align: center;
  color: $white;
  padding: 70px 0 100px;
  margin: 0 auto;
  .title {
    margin-bottom: 50px;
  }
  .divider {
    // background-image: url(../assets/segment/segment-all-stats-dashed-line-deepblue50-full.svg);
    background-image: url(../assets/segment/segment-all-stats-dashed-line-deepblue50-full@2x.png);
    background-repeat: repeat;
    margin: 70px auto 70px;
    width: 90%;
    height: 2px;
  }
  .bottom {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.01rem;
    width: 90%;
    margin: 0 auto;
    p {
      margin-bottom: 70px;
    }
  }
  .companiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .company {
    width: 45%;
    margin: 5px 2.5%;
    border-radius: 4px;
    img {
      width: 100%;
    }
  }
}

@include mediumDisplay {
  .segmentWhy {
    .title {
      margin-bottom: 70px;
    }
    .divider {
      margin: 100px auto;
    }
    .bottom {
      width: 80%;
      p {
        margin-bottom: 25px;
      }
    }
    .company {
      width: 30%;
      margin: 25px 0.5%;
    }
  }
}

@include largeDisplay {
  .segmentWhy {
    padding-bottom: 70px;
    .title {
      margin-bottom: 60px;
    }
    .divider {
      width: 80%;
      margin-top: 60px;
    }
    .bottom {
      width: 83%;
    }
    .text {
      width: 60%;
      margin: 0 auto;
    }
    .companiesContainer {
      flex-wrap: nowrap;
    }
  }
}

//segment cta
.segmentCTA {
  color: $navy;
  margin: 70px auto 90px;
  img {
    width: 100%;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: $beige;
    width: 90%;
    margin: 0 auto 70px;
    padding: 50px 8% 0;
    border-radius: 12px;
    font-size: 22px;
    line-height: 30px;
    p {
      margin-bottom: 20px;
    }
    a {
      font-size: 18px;
      color: $link;
      font-family: "Matter-SemiBold";
    }
  }
  .contactImg {
    order: 5;
    width: 90%;
    margin: 70px auto 0;
  }
}

@include mediumDisplay {
  .segmentCTA {
    .contact {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: -0.01em;
      padding: 45px 5% 25px;

      a {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .contactImg {
      order: -1;
      width: 40%;
      margin: 0 0 -25px 0;
    }
    .contactText {
      width: 50%;
      margin-left: 5%;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@include largeDisplay {
  .segmentCTA {
    margin-top: 120px;
    .contact {
      padding: 0 5%;
      align-items: flex-start;
    }
    .contactImg {
      margin: -50px 0 0 0;
      width: 30%;
    }
    .contactText {
      width: 75%;
      margin-top: 50px;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

//ecommerce modification
.segmentEcommerce {
  .underlinedText {
    text-decoration: underline rgba($color: $white, $alpha: 0.3);
  }
  .floatingContainer.right .onTop {
    width: 70%;
    right: -5%;
    top: 77%;
  }
  .segmentCurvedBg .bttn {
    color: $white;
    border: 1px solid $white;
  }
  .segmentFourSectionsContainer {
    background-image: url(../assets/segment/segment-ecommerce-bg-curve-bottom-deepblue@2x.png);
  }
}

@include mediumDisplay {
  .segmentEcommerce {
    .segmentTitle {
      background-color: #004b9f;
    }
    .floatingContainer.right .onTop {
      right: -20%;
      top: 63%;
    }
  }
}

@include largeDisplay {
  .segmentEcommerce {
    .floatingContainer.right .onTop {
      right: -10%;
    }
    .reduceSection .title {
      color: #fdf8b3;
    }
  }
}

//segment healthcare page
.segmentHealthcare {
  .floatingContainer.right .onTop {
    top: 65%;
    right: -5%;
  }
  .simpleSection .floatingContainer.right .onTop {
    top: 90%;
  }
  .segmentFourSectionsContainer {
    background-image: url(../assets/segment/segment-healthcare-bg-curve-bottom-cyan25@2x.png);
  }
}
.healthcareQuote {
  width: 90%;
  margin: 0 auto 70px;
  background: $beige;
  color: $navy;
  border-radius: 12px;
  .smImg img,
  .mdImg img {
    border-radius: 12px 12px 0 0;
  }
  .mdImg {
    display: none;
  }
  .quoteBottom {
    width: 83%;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-family: "Matter-Semibold";
    margin: 50px auto;
  }
  .quoteContent {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.0075em;
  }
  .title {
    font-weight: bold;
    line-height: 20px;
    margin: 50px auto 35px;
    letter-spacing: 0;
  }
  ul {
    margin-left: 5%;
  }
  li {
    color: $primary;
  }
  span {
    color: $navy;
  }
  button {
    margin: 40px 0 70px;
  }
  button.lg {
    display: none;
  }
}

@include mediumDisplay {
  .segmentHealthcare {
    .segmentTitle {
      background-color: #e5f7fb;
    }
    .floatingContainer.right .onTop {
      right: -20%;
      top: 45%;
    }
    .simpleSection .floatingContainer.right .onTop {
      top: 76%;
    }
  }
  .healthcareQuote {
    margin-bottom: 80px;
    .smImg {
      display: none;
    }
    .mdImg {
      display: block;
    }
    .subtitle {
      font-size: 37px;
      line-height: 40px;
      letter-spacing: -0.01em;
    }
    .quoteContent {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.01em;
    }
    ul {
      margin-left: 3%;
    }
    button {
      margin-bottom: 80px;
    }
  }
}

@include largeDisplay {
  .segmentHealthcare {
    .floatingContainer.right .onTop {
      right: -9%;
    }
  }
  .healthcareQuote {
    width: 95%;
    .quoteBottom {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 70px;
      padding-bottom: 80px;
    }
    .lgLeft {
      width: 30%;
    }
    .subtitle {
      margin: 0 auto 40px;
    }
    .quoteContent {
      width: 63%;
    }
    button.md {
      display: none;
    }
    button.lg {
      display: inline-block;
      margin: 0;
    }
  }
}

//beverage section
.segmentBeverage {
  .floatingContainer.right .onTop {
    right: -5%;
    top: 83%;
  }
  .segmentFourSectionsContainer {
    background-image: url(../assets/segment/segment-beverage-bg-curve-bottom-cream70@2x.png);
  }
}

@include mediumDisplay {
  .segmentBeverage {
    .segmentTitle {
      background-color: rgba(237, 234, 192, 0.7);
    }
    .floatingContainer.right .onTop {
      right: -23%;
      top: 70%;
    }
    .simpleSection .floatingContainer.right .onTop {
      right: -18%;
    }
  }
}

@include largeDisplay {
  .segmentBeverage {
    .floatingContainer.right .onTop {
      right: -7%;
      top: 68%;
    }
    .simpleSection .floatingContainer.right .onTop {
      right: -5%;
    }
  }
}
