.tracking {
  background-image: url("../assets/tracking/tracking-bg-state1-1840x772.png");
  min-height: 600px;
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.01em;
    padding: 100px 0 30px;
  }
  .time {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.12em;
    font-family: "Matter-SemiBold";
    color: #506185;
  }
  .upperContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 90%;
    .input-group,
    input,
    button {
      border-radius: 40px;
    }
    .input-group {
      @include dropShadow;
      &:focus-within {
        // border: 1px solid $primary;
      }
      &.error {
        border: 1px solid $error;
      }
    }
    input,
    button {
      height: 50px;
      border: none;
    }
    input {
      font-family: "Matter-SemiBold";
      padding-left: 30px;
    }
    button {
      background: $white;
      padding-right: 20px;
      svg {
        height: 35px;
        width: 30px;
        color: #004b9f;
      }
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .loader img {
      animation: spin 2s linear infinite;
      width: 20px;
    }
  }

  .input-group-append button:focus,
  .input-group-append button:active,
  .input-group-append button:hover {
    border: none;
  }

  .form-control:focus ~ .input-group-append button {
    background-color: $white;
    border: none;
  }

  .lowerContainer {
    padding: 0 0 130px;
    background-color: $white;
    opacity: 0;
    position: absolute;
  }

  .lowerContainer.showResult{
    opacity: 1;
    position: static;
  }

}

.trackingError {
  text-align: center;
  color: $error;
  margin-top: 30px;
  svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: $error;
  }
}

.trackingResult {
  background-image: url("../assets/tracking/tracking-bg-state2-1840x772.png");
  .upperContainer {
    height: 315px;
  }
}

.trackingResultDisplay {
  background-color: $white;
  width: 100%;
  button {
    background: transparent;
    border: none;
  }
  .topBar {
    background-color: $navy;
    color: $yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 5%;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-family: "Matter-SemiBold";
    button {
      width: 20px;
      padding: 0;
      svg {
        color: $white;
      }
    }
  }
  .resultContent {
    padding: 40px 5% 0;
    .courrier,
    .trackingNum {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.01em;
    }
    .courrier,
    .trackingLink {
      font-family: "Matter-SemiBold";
    }
    .trackingLink {
      color: #336fb2;
      font-size: 16px;
      line-height: 20px;
      margin-top: 18px;
      svg {
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }
    }
    .divider {
      background-image: url("../assets/tracking/tracking-dashed-line-navy60-full@2x.png");
      background-repeat: no-repeat;
      height: 1px;
      width: 100%;
      margin: 40px 0 30px;
    }
    .statusContainer {
      width: 50px;
    }
    .location {
      margin: 20px 0 18px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.0075em;
    }
    .time {
      margin: 18px 0 50px;
    }
    button {
      padding: 0;
      color: #336fb2;
      font-family: "Matter-SemiBold";
      svg {
        width: 30px;
        height: 30px;
        transform: rotate(0);
        transition: transform cubic-bezier(0.33,0.1,0.1,1.0) 0.33s;
      }
      svg.collapseArrow{
        transform: rotate(180deg);
      }
    }
  }
}

.accordion {
  .contact {
    padding: 0 5%;
    .iconContainer {
      width: 52px;
      padding: 0 0 20px;
    }
    p,
    a.link {
      line-height: 26px;
      letter-spacing: -0.0075em;
      font-size: 16px;
    }
  }
}

.timeLine {
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
  .container {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    &:last-of-type .dot::after {
      background-color: transparent;
    }
  }
  .dot {
    width: 23px;
    position: relative;
    left: -5px;
    z-index: 3;
    flex: 0 0 23px;
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #f0eee1;
      top: 0;
      bottom: 0;
      left: 10px;
      z-index: -1;
    }
  }
  .content {
    flex: 1 1 auto;
    background: #f6f5ed;
    border-radius: 4px;
    line-height: 22px;
    letter-spacing: -0.0075em;
    padding: 24px;
    position: relative;
    margin: -24px 0 35px 5%;
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      width: 0;
      z-index: 1;
      left: -10px;
      border: medium solid #f6f5ed;
      border-width: 13px 10px 13px 0;
      border-color: transparent #f6f5ed transparent transparent;
    }
    .time {
      margin-top: 18px;
      margin-bottom: 0;
    }
  }
}

@include mediumDisplay {
  .tracking {
    background-position: center top;
    background-size: 1840px 772px;
    h1 {
      padding: 130px 0 60px;
      font-size: 54px;
      line-height: 58px;
      letter-spacing: -0.02%;
    }
    form {
      input,
      button {
        height: 80px;
      }
      input {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .upperContainer {
      min-height: 600px;
    }
    .lowerContainer .trackingResultDisplay{
      opacity: 0;
      position: relative;
      top: 0;
      transition: opacity cubic-bezier(0.33,0.1,0.1,1.0) 0.33s, top cubic-bezier(0.33,0.1,0.1,1.0) 0.33s
    }
    .lowerContainer {
      background-color: #fafaf6;
      padding: 0 5%;
      // position: relative;
      .trackingResultDisplay.showResult{
        opacity: 1;
        top: -150px;
        position: relative;
        padding: 0 5%;
        background: transparent;
      }
    }
  }
  .trackingResultDisplay {
    .topBar {
      border-radius: 24px 24px 0 0;
      font-size: 30px;
      line-height: 34px;
      height: 80px;
      button {
        width: 25px;
      }
    }
    .resultContent {
      background-color: $white;
      border-radius: 0 0 24px 24px;
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
      padding: 45px 50px 70px;
      .courrier {
        font-size: 26px;
        line-height: 36px;
      }
      .row {
        margin: 0;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        .col-md-10 {
          padding: 0;
        }
      }
      .statusContainer {
        width: 50%;
        display: inline-block;
      }
      .location,
      button {
        font-size: 20px;
        line-height: 30px;
      }
      .time {
        margin-bottom: 0;
      }
    }
    .timeLine {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.0075em;
    }
    .row.contact {
      align-items: flex-start;
      .iconContainer {
        flex: 0 0 54px;
        padding: 0;
      }
      .contactText {
        padding-left: 0;
      }
    }
  }
  .expandedContent {
    padding-left: 0;
  }
}

@include largeDisplay {
  .tracking {
    form {
      width: 60%;
    }
    .lowerContainer {
      padding: 0 12% 0;
    }
    .contact.row {
      width: 91%;
      margin: 0 auto 50px;
    }
  }
  .trackingResultDisplay {
    position: relative;
    top: -140px;
    border-radius: 24px;
  }
}
