@import "custom";

@font-face {
  font-family: "Matter-Regular";
  src: local("Matter-Regular"),
    url(./assets/fonts/Matter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Matter-SemiBold";
  src: local("Matter-SemiBold"),
    url(./assets/fonts/Matter-SemiBold.ttf) format("truetype");
}

body {
  line-height: 1;
}

.app {
  letter-spacing: -0.03em;
  overflow-x: hidden;
}

//general
.verticalDivider {
  border-left: 2px solid rgba($color: #051e51, $alpha: 0.3);
  height: 30px;
}

.app {
  font-family: "Matter-Regular";
}

.roundBttn {
  border-radius: 22px;
}

.bttn {
  font-weight: bold;
  font-size: 16px;
  // line-height: 20px;
  letter-spacing: 0;
  border-radius: 22px;
  border: 0;
  padding: 12px 22px;
  display: inline-block;
  margin-top: 5px;
  background-color: transparent;
  color: transparent;
  transition: cubic-bezier(0, 0, 0.1, 1) 0.5s;
  vertical-align: center;
  &:hover {
    background-color: $navy;
    color: $yellow;
    cursor: pointer;
  }
  &.disabled {
    background-color: #cecece;
    color: #939393;
  }
}

.primaryBttn {
  color: $white;
  background-color: $deep-blue;
}

.outlinedBttn {
  background-color: transparent;
  border: 1px solid $deep-blue;
  color: $deep-blue;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $white;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  background-color: $white;
  border-left: none;
  box-shadow: none;
}

.yellowText {
  color: $yellow;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  transition: color cubic-bezier(0, 0, 0.1, 1) 0.5s;
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

.link {
  color: $link;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0075em;
  white-space: nowrap;
}

@include mediumDisplay {
  a.link {
    font-size: 16px;
    // line-height: 26px;
    line-height: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.lottieBg {
  position: absolute;
  z-index: -1;
}

.layoutContainer {
  max-width: 1500px;
  margin: auto;
}

//form
.form-control:focus,
.form-control:focus ~ .input-group-append button {
  box-shadow: none;
}

//floating img
.floatingContainer {
  position: relative;
  width: 100%;
  padding: 0rem 2rem;
  margin: 0;
}

.onTop,
.onBottom {
  border-radius: 12px;
}

.onTop {
  z-index: 99;
  margin-top: -115px;
  width: 45%;
  img {
    width: 100%;
  }
}

.onBottom {
  width: 82%;
  img {
    width: 100%;
    border-radius: 12px;
  }
}

// floating img left
.floatingContainer.left {
  .onBottom {
    margin-right: -30px;
  }
  .onTop {
    left: 35px;
    // top: 230px;
    top: 80%;
    position: absolute;
  }
}

@include mediumDisplay {
  .floatingContainer {
    width: 90%;
  }
}

@include largeDisplay {
  .floatingContainer {
    width: 92%;
  }
}

// floating img right
.floatingContainer.right {
  .onBottom {
    margin-left: -30px;
  }
  .onTop {
    right: 35px;
    // top: 230px;
    top: 80%;
    position: absolute;
  }
}

@include mediumDisplay {
  .floatingContainer.right {
    .onTop {
      top: 60%;
      right: -8%;
    }
  }
}

//floating cards styles
.floatingCard {
  border-radius: 10px;
  color: $navy;
  min-width: 150px;
  @include dropShadow;
  p {
    line-height: 20px !important;
  }
  .cardIconContainer {
    width: 30px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .topBar {
    background-color: #374b74;
    color: $white;
    font-family: "Matter-SemiBold";
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 10px 15px;
    white-space: pre-line;
    p {
      font-size: 15px;
      width: max-content;
    }
  }
  .cardContent {
    background: $white;
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;
    p {
      font-size: 13px;
      font-family: "Matter-SemiBold";
      margin-left: 0;
      margin-right: 0;
      width: max-content;
    }
  }
  .primaryText,
  .time {
    color: $primary;
  }
  .grey {
    color: #697897;
  }
  .time {
    font-size: 10px;
  }
}

@include mediumDisplay {
  .floatingCard {
    .topBar p {
      font-size: 20px;
      margin-left: 0;
    }
    .cardContent p {
      font-size: 18px;
    }
  }
}
//ecommerce
.cardTimeline {
  position: relative;
  padding-top: 20px;
  .timelinecontainer {
    display: flex;
    padding-right: 0;
    opacity: 0.5;
    p {
      font-size: 10px;
      font-family: "Matter-Regular";
    }
    &:last-of-type {
      opacity: 1;
      p {
        font-family: "Matter-SemiBold";
      }
      .dot::after {
        background-color: transparent;
      }
    }
  }
  .dot {
    width: 15px;
    position: relative;
    left: -5px;
    top: 10px;
    z-index: 3;
    flex: 0 0 23px;
    border-radius: 50%;
    img {
      width: 15px;
      margin-left: 5px;
      margin-top: -22px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #80d6ed;
      top: 0;
      bottom: 5px;
      left: 11px;
      z-index: -5;
    }
  }
  .content {
    flex: 1 1 auto;
  }
}

@include mediumDisplay {
  .floatingCard {
    min-width: fit-content;
    .cardContent {
      padding: 10px 20px;
    }
  }
  .cardTimeline {
    .timelinecontainer p {
      font-size: 14px;
    }
    .timelinecontainer {
      padding-bottom: 15px;
    }
    .dot:after {
      bottom: -10px;
    }
  }
}

//healthcare
.healthcare {
  box-shadow: none;
  min-width: max-content;
}
.topCard,
.bottomCard {
  border-radius: 10px;
  background-color: $white;
  @include dropShadow;
}

.topCard {
  margin-bottom: 10px;
  .topBar p {
    font-size: 10px;
  }
  .topCardContent {
    padding: 10px 15px;
    p {
      font-size: 12px;
      font-family: "Matter-SemiBold";
      margin-left: 0;
    }
    .grey {
      font-family: "Matter-Regular";
    }
  }
}

.bottomCard {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  svg {
    color: #00addb;
  }
  .bottomCardText {
    p {
      font-size: 15px;
      font-family: "Matter-SemiBold";
      margin-left: 0;
      white-space: pre-line;
    }
    .time {
      margin-top: 5px;
      font-size: 10px;
    }
  }
}

@include mediumDisplay {
  .topCard {
    .topBar p {
      font-size: 13px;
    }
    .topCardContent p {
      font-size: 15px;
    }
  }
  .bottomCard {
    .bottomCardText {
      p {
        font-size: 20px;
      }
      .time {
        font-size: 15px;
      }
    }
  }
}

//beverage
.beverage {
  position: relative;
  // display: inline-block;
  svg {
    color: #051e51;
  }
  .imgContainer {
    position: absolute;
    right: 0px;
    top: 5%;
    width: 50%;
    max-width: 100px;
  }
  .beigeBg {
    padding: 10px 15px;
    background-color: $beige;
    border-radius: 10px 10px 0 0;
    p {
      font-family: "Matter-SemiBold";
      padding: 20px 20px 20px 0;
      width: 60%;
      margin-left: 0;
    }
  }
}
.beverage .ctaContainer {
  background-color: $white;
  padding: 8px 15px;
  border-radius: 0 0 10px 10px;
  .grey {
    font-size: 12px;
    margin-left: 0;
    white-space: pre-line;
  }
  button {
    margin: 8% 0 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #374b74;
    padding: 6px 10px;
  }
}

@include mediumDisplay {
  .beverage {
    max-width: max-content;
    .beigeBg {
      p {
        font-size: 24px;
      }
    }
    .ctaContainer {
      .grey {
        font-size: 14px;
      }
      button {
        margin: 12% 0 15px;
      }
    }
  }
}

@include largeDisplay {
  .floatingCard p {
    margin-left: 0 !important;
  }
}

//multi columns
.columnsContainer {
  display: flex;
  flex-wrap: wrap;
}

.singleColumn {
  width: 90%;
  margin: 0 auto;
}

@include mediumDisplay {
  .singleColumn {
    width: 73%;
  }
}

// two columns
@include largeDisplay {
  .two .singleColumn {
    width: 45%;
    margin: 0 2.5%;
  }
}

// three columns
@include largeDisplay {
  .three .singleColumn {
    width: 28%;
    margin: 0 1%;
  }
}

//nav
@import "./styles/nav";

//footer
@import "./styles/footer";

//imgOverSection
.imgOverSection {
  margin-top: 120px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $navy;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0075em;
  .imgContainer {
    width: 200px;
    height: 160px;
    position: relative;
    top: -40px;
  }
  p {
    width: 90%;
    text-align: center;
    margin-bottom: 0;
  }
  .title {
    font-size: 41px;
    line-height: 43px;
    font-family: "Matter-Semibold";
    text-align: center;
    letter-spacing: -0.015em;
    color: #051e51;
    margin-bottom: 50px;
  }
  button {
    margin-top: 40px;
  }
}

@include mediumDisplay {
  .imgOverSection {
    p {
      width: 76%;
      font-size: 20px;
      line-height: 30px;
    }
    .title {
      font-size: 51px;
      line-height: 54px;
      width: 50%;
      margin-bottom: 40px;
    }
  }
}

@include largeDisplay {
  .imgOverSection {
    .title {
      width: 80%;
      margin-top: 20px;
    }
  }
}

//onTopToSide
.onTopToSide {
  .text {
    width: 90%;
    margin: 0 auto;
  }
  h2 {
    font-size: 60px;
    line-height: 62px;
    font-family: "Matter-SemiBold";
    margin-bottom: 40px;
  }
  .imgContainer {
    margin: 70px 0 50px 5%;
  }
}

@include mediumDisplay {
  .onTopToSide {
    h2 {
      font-size: 88px;
      line-height: 90px;
      margin: 170px auto 70px;
      width: 73%;
    }
    .text {
      text-align: center;
    }
  }
}

@include largeDisplay {
  .onTopToSide {
    display: flex;
    .text,
    .imgContainer {
      width: 50%;
    }
    .text {
      text-align: left;
      h2,
      button {
        margin-left: 10%;
      }
    }
    h2 {
      width: 80%;
    }
    .imgContainer {
      margin: 0;
    }
  }
}

// header with image/video on the side
.headerSideImg {
  padding-bottom: 70px;
  .mlImgContainer {
    display: none;
  }
  .text {
    margin: 0 5%;
    .title {
      font-family: "Matter-SemiBold";
      font-size: 60px;
      line-height: 62px;
      color: $navy;
      margin: 50px 0 30px;
    }
  }
  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.0075em;
    color: $navy;
    margin-bottom: 23px;
  }
}

@include mediumDisplay {
  .headerSideImg {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    .sImgContainer {
      display: none;
    }
    .mlImgContainer {
      display: inline-block;
      img,
      video {
        border-radius: 12px;
      }
    }
    .text {
      margin-left: 0;
    }
  }
}

@include largeDisplay {
  .headerSideImg {
    .text {
      width: 38%;
    }
    .title {
      font-size: 88px;
      line-height: 90px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.001em;
    }
    .mlImgContainer {
      width: 38%;
    }
  }
}

// stats
.stats {
  .num {
    font-size: 80px;
    color: #bfeaf6;
    font-weight: bold;
  }
  .description {
    font-size: 18px;
  }
  .col {
    flex-basis: 100%;
    .divider {
      height: 2px;
      width: 50px;
      transform: rotate(90deg);
      margin: 55px auto;
      display: block;
    }
    .divider.num2 {
      display: none;
    }
  }
}

@include mediumDisplay {
  .stats {
    .num {
      font-size: 100px;
    }
    .description {
      font-size: 20px;
    }
  }
}

@include largeDisplay {
  .stats {
    .row {
      width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
    }
    .col {
      flex-basis: 28%;
      .description {
        width: 85%;
        margin: 0 auto;
      }
    }
    .col .divider {
      display: none;
    }
  }
}

// Article CTA
.articleCTA {
  p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0075em;
  }
  .share {
    margin: 10px 0 35px;
    a svg {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
  }
}

//Segments sections templates
@import "./styles/segment";

@import "./styles/banner";

// --------------------pages--------------------------
//--------home page----------
@import "./styles/home";
@import "./styles/map";

//--------tracking page----------
@import "./styles/tracking";

//--------segment page----------
@import "./styles/tracking";

//--------company page----------
@import "./styles/company";

//--------contact page----------
@import "./styles/contact";

//--------referrals page----------
@import "./styles/referrals";

//--------news page----------
@import "./styles/news";

@import "./styles/articles";

@import "./styles/animation";
