$primary: #00addb;
$deep-blue: #004b9f;
$navy: #051e51;
$beige: #f6f5ed;
$cream: #edeac0;
$yellow: #fcf268;
$orange: #ff7f43;
$link: #c93707;
$pop-teal: #a1ffdc;

$success: #33cc33;
$error: #ba0007;

@mixin mediumDisplay {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin largeDisplay {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin largeAboveDisplay {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin dropShadow {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
}

$theme-colors: (
  "primary": $primary,
  "deep-blue": $deep-blue,
);

$grid-breakpoints: (
  sm: 0,
  md: 750px,
  lg: 1024px,
  xl: 1500px,
);

@import "~bootstrap/scss/bootstrap";
